{{if .HasHTTP}}PORT={{.Port}}
{{end}}{{if .HasGRPC}}GRPC_PORT={{.GRPCPort}}
{{end}}
APP_ENV=development
{{if .HasPostgres}}DATABASE_URL=postgres://postgres:postgres@localhost:5432/{{.PackageName}}?sslmode=disable
{{end}}
