module {{.Module}}

go 1.22

require (
	github.com/gin-gonic/gin v1.10.0
{{if .HasPostgres}}
	github.com/golang-migrate/migrate/v4 v4.17.1
{{end}}
	github.com/google/uuid v1.6.0
{{if .HasGRPC}}
	google.golang.org/grpc v1.64.0
{{end}}
{{if .HasPostgres}}
	gorm.io/driver/postgres v1.5.9
	gorm.io/gorm v1.25.10
{{end}}
)
